.tab-bar {
  padding: 1em 1em 1.5em 1em;

  .tab {
    padding: 0.9em;
    color: #8e95b4;
    background: inherit;
    border: 0;

    &.active {
      color: #decb6b;
      border-color: #decb6b;
      border-width: 0 0 3px 0;
      border-style: solid;
    }
  }
}
