#keypressTarget {
  height: 20%;
  width: 100%;
  background-color: #f4840c;
  margin: 0em;
  border: 0em;
  padding: 0em;
  text-align: center;
}

#container {
  height: 80%;
  width: 100%;
  margin: 0em;
  border: 0em;
  padding: 0em;
}

#eventToggle {
  width: 100%;
  height: 10%;
  background-color: #eee;
  margin: 0em;
  border: 0em;
  padding: 0em;
}

#eventToggle > label {
  margin-left: 1em;
}

#keyDisplay {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  margin: 0em;
  border: 0em;
  padding: 0em;
  background-color: #ddd;
}
