.preview {
  color: #8e95b4;

  // Rendered markdown
  // Replicate any relevant styling to the export styles
  .markdown-preview {
    height: auto;

    a {
      color: #b2e4ae;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    table {
      margin: 0 auto;
      border-spacing: 0.5rem;
      border-collapse: collapse;

      th,
      td {
        border-color: #81c5da;
        border-style: solid;
        border-width: 1px;
        padding: 0.5em;
      }
    }

    pre {
      color: #b2e4ae;
    }
  }

  // Rendered Mermaid diagrams
  .mermaid-diagram {
    text-align: center;

    > div {
      display: inline-block;
      background: #ffffff;
      width: 100%;
      padding: 1em;

      > svg {
        padding: 1em;
        max-width: 100%;
      }
    }
  }

  // Message displaying our error to render
  .error-block {
    .type {
      color: #b2e4ae;
    }
  }
}
