.editor-container {
  // Customisations to Codemirror
  > .CodeMirror {
    height: auto;
    min-height: 20em;

    // Make code-blocks readable
    .cm-formatting-code-block {
      color: #b2e4ae;
    }
    // Make code-blocks readable
    .cm-comment {
      color: #b2e4ae;
    }
  }
}
